.git
.gitignore
README.md
.env
.env.example
.env.docker
.env.docker.example
docker-compose.yml
Dockerfile
.dockerignore
node_modules
npm-debug.log
yarn-error.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
vendor
.phpunit.result.cache
tests
.Todoist
.php_cs.cache
.php_cs
.php-cs-fixer.cache
.php-cs-fixer.cache
.idea
.vscode
.DS_Store
Thumbs.db
